2023_06_21 23:15 Update
SL_Derived_Dataset_2023_06_21_v2
Changes: 
- added two new columns to sl_base_df before deriving insights (FTHP (full time home points), FTAP (full time away points))
    - The intent is to tally points earned from wins and draws on a season-to-date basis

In [2]:
import pandas as pd
import numpy as np

In [4]:
sl_base_df = pd.read_csv("sl_base_dataset_20230621.csv")

In [5]:
print('sl_base_df Size: ', sl_base_df.shape)
sl_base_df.head(4)

sl_base_df Size:  (8020, 22)

,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,1,2000-08-19,Charlton,Man City,4,0,H,2,0,H,...,14,4,13,12,6,6,1,2,0,0
1,1,2000-08-19,Chelsea,West Ham,4,2,H,1,0,H,...,10,5,19,14,7,7,1,2,0,0
2,1,2000-08-19,Coventry,Middlesbrough,1,3,A,1,1,D,...,3,9,15,21,8,4,5,3,1,0
3,1,2000-08-19,Derby,Southampton,2,2,D,1,2,A,...,4,6,11,13,5,8,1,1,0,0

In [4]:
# season_numbers = list(set(sl_base_df.season))
# season_numbers

# # Note: previous dataset 2009-2022 had 39 unique teams
# teams_all = sorted(list(set(sl_base_df.HomeTeam)))
# len(teams_all) # 45 unique teams in the dataset

In [6]:
# Step 0.1 add points-earned columns: FTHP (full time home points), FTAP (full time away points)

def add_points_columns(df):
    # adds points earned columns: FTHP (full time hometeam points), FTAP (full time awayteam points)
    
    home_conditions = [(df['FTR'] == "H"), (df['FTR'] == "D"), (df['FTR'] == "A")]
    away_conditions = [(df['FTR'] == "A"), (df['FTR'] == "D"), (df['FTR'] == "H")]
    
    # create a list of the values we want to assign for each condition  
    values = [3, 1, 0]

    # create a new column and use np.select to assign values to it using our lists as arguments
    df['FTHP'] = np.select(home_conditions, values)    
    df['FTAP'] = np.select(away_conditions, values)
    
    return df

In [7]:
sl_base_df = add_points_columns(sl_base_df)

In [9]:
sl_base_df.head(20)

,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HF,AF,HC,AC,HY,AY,HR,AR,FTHP,FTAP
0,1,2000-08-19,Charlton,Man City,4,0,H,2,0,H,...,13,12,6,6,1,2,0,0,3,0
1,1,2000-08-19,Chelsea,West Ham,4,2,H,1,0,H,...,19,14,7,7,1,2,0,0,3,0
2,1,2000-08-19,Coventry,Middlesbrough,1,3,A,1,1,D,...,15,21,8,4,5,3,1,0,0,3
3,1,2000-08-19,Derby,Southampton,2,2,D,1,2,A,...,11,13,5,8,1,1,0,0,1,1
4,1,2000-08-19,Leeds,Everton,2,0,H,2,0,H,...,21,20,6,4,1,3,0,0,3,0
5,1,2000-08-19,Leicester,Aston Villa,0,0,D,0,0,D,...,12,12,5,4,2,3,0,0,1,1
6,1,2000-08-19,Liverpool,Bradford,1,0,H,0,0,D,...,8,8,6,1,1,1,0,0,3,0
7,1,2000-08-19,Sunderland,Arsenal,1,0,H,0,0,D,...,10,21,2,9,3,1,0,1,3,0
8,1,2000-08-19,Tottenham,Ipswich,3,1,H,2,1,H,...,14,13,3,4,0,0,0,0,3,0
9,1,2000-08-20,Man United,Newcastle,2,0,H,1,0,H,...,7,13,7,1,0,1,0,0,3,0
10,1,2000-08-21,Arsenal,Liverpool,2,0,H,1,0,H,...,25,20,10,11,2,4,1,2,3,0
11,1,2000-08-22,Bradford,Chelsea,2,0,H,1,0,H,...,14,16,6,4,0,1,0,0,3,0
12,1,2000-08-22,Ipswich,Man United,1,1,D,1,1,D,...,10,7,4,6,1,4,0,0,1,1
13,1,2000-08-22,Middlesbrough,Tottenham,1,1,D,0,1,A,...,9,18,5,5,2,1,0,0,1,1
14,1,2000-08-23,Everton,Charlton,3,0,H,0,0,D,...,17,15,3,5,2,1,0,1,3,0
15,1,2000-08-23,Man City,Sunderland,4,2,H,2,0,H,...,24,14,7,3,3,3,0,0,3,0
16,1,2000-08-23,Newcastle,Derby,3,2,H,1,1,D,...,23,11,9,6,0,3,1,0,3,0
17,1,2000-08-23,Southampton,Coventry,1,2,A,0,1,A,...,18,20,6,5,5,3,0,0,0,3
18,1,2000-08-23,West Ham,Leicester,0,1,A,0,0,D,...,16,14,11,5,3,3,1,0,0,3
19,1,2000-08-26,Arsenal,Charlton,5,3,H,1,2,A,...,12,15,8,3,0,1,0,0,3,0

# 1. List of Dicts for new dataframe

In [10]:
# 1. CREATING LIST OF MATCH DICTS
df = sl_base_df.copy()

date_vals = df.Date.tolist()
season_vals = df.season.tolist()
home_teams = df.HomeTeam.tolist()
away_teams = df.AwayTeam.tolist()
winner_vals = df.FTR.tolist()  # FULL TIME RESULT (A for away wins, H for home team wins, D for a draw result)

match_dicts = []
for i in range(len(date_vals)):
    match_dict = {}
    match_dict.update({'date': date_vals[i], 'season': season_vals[i],
                       'home_team': home_teams[i], 'away_team': away_teams[i], 'FTR': winner_vals[i]})
    match_dicts.append(match_dict)

print('Total dicts: ', len(match_dicts))  # 8020. formerly had 4600 dicts using 09-22 dataset
del(date_vals, season_vals, home_teams, away_teams, winner_vals)

Total dicts:  8020

In [11]:
# example:
match_dicts[3489]

{'date': '2009-10-03',
 'season': 10,
 'home_team': 'Man United',
 'away_team': 'Sunderland',
 'FTR': 'D'}

# 2. Obtain all the home and away teams' match results leading up to their match

In [12]:
def filtered_df_up_to_match(dataset_df, match_dict):
    # Returns all the home and away teams' match results leading up to their match
    date, hometeam, awayteam = match_dict['date'], match_dict['home_team'], match_dict['away_team']
    df = dataset_df.copy()
    
    df = df[df['season'] == match_dict['season']]
    df = df[df['Date'] <= date]
    
    teams = [hometeam, awayteam]
    df = df[(df.HomeTeam.isin(teams)) | (df.AwayTeam.isin(teams))]
    df = df[:-1] # drop the last row containing the given football match's own row
    
    return df

In [13]:
# SAMPLE Usage of filtered_df_up_to_match()
#  This function filters both teams' results leading up to their match.
#  Note: only same-season results are considered as teams rosters can change between seasons which 
#        reduces the relevance of last season's matches in the supervised learning models.

test_dict = match_dicts[3489].copy()
test_df = filtered_df_up_to_match(df, test_dict)
test_df

,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HF,AF,HC,AC,HY,AY,HR,AR,FTHP,FTAP
3422,10,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,16,10,4,7,2,1,0,0,0,3
3428,10,2009-08-16,Man United,Birmingham,1,0,H,1,0,H,...,13,7,13,2,1,1,0,0,3,0
3430,10,2009-08-18,Sunderland,Chelsea,1,3,A,1,0,H,...,14,10,1,14,2,2,0,0,0,3
3433,10,2009-08-19,Burnley,Man United,1,0,H,1,0,H,...,8,12,1,12,2,1,0,0,3,0
3440,10,2009-08-22,Sunderland,Blackburn,2,1,H,1,1,D,...,12,14,0,10,2,1,0,0,3,0
3441,10,2009-08-22,Wigan,Man United,0,5,A,0,0,D,...,11,8,3,5,2,2,0,0,0,3
3449,10,2009-08-29,Man United,Arsenal,2,1,H,0,1,A,...,21,15,6,5,3,6,0,0,3,0
3450,10,2009-08-29,Stoke,Sunderland,1,0,H,1,0,H,...,9,8,10,10,0,2,0,0,3,0
3461,10,2009-09-12,Sunderland,Hull,4,1,H,1,1,D,...,18,15,7,8,2,2,0,0,3,0
3462,10,2009-09-12,Tottenham,Man United,1,3,A,1,2,A,...,16,13,3,9,3,2,0,1,0,3
3469,10,2009-09-19,Burnley,Sunderland,3,1,H,1,1,D,...,4,15,4,4,0,3,0,0,3,0
3474,10,2009-09-20,Man United,Man City,4,3,H,1,1,D,...,15,14,11,1,2,2,0,0,3,0
3481,10,2009-09-26,Stoke,Man United,0,2,A,0,0,D,...,9,8,2,7,1,1,0,0,0,3
3484,10,2009-09-27,Sunderland,Wolves,5,2,H,1,0,H,...,18,11,7,8,1,3,0,0,3,0

**{'date': '2009-10-03',
 'season': 10,
 'home_team': 'Man United',
 'away_team': 'Sunderland',
 'FTR': 'D'}**

_The df above depicts all games in season 10 up to the match Man United vs Sunderland on 2009/10/03.
From this abbreviated in-season DF, we will derive season to date (s2d) statistics for both teams to boost the model's prediction power._

# 3.  **Derive Season to Date (S2D) insights from original dataset**

### Helper Functions

#### Number of games Played By Team (home games, away games, total) so far in current season

In [14]:
def games_played_s2d(df, team):
    """Takes in DF from function filtered_df_up_to_match() and counts how many games a team has played this season
    returns: list with 3 counts: [home_count, away_count, total_count]
    """
    homegames_s2d_count = df['HomeTeam'].value_counts()[team]
    awaygames_s2d_count = df['AwayTeam'].value_counts()[team]
    total_games_played = homegames_s2d_count + awaygames_s2d_count
    
    return [homegames_s2d_count, awaygames_s2d_count, total_games_played]

#### Extract season to date (s2d) insights

In [15]:
def team_var_stats(df, team, extract_home_var, extract_away_var):
    """For a given pair of variables, Returns a given team's stats incurred as home team, away team, and total.
    params:
    df: abbreviated DF containing all s2d records for the two teams involved in a match
    team: single team name (str)
    """
    df = df[(df.HomeTeam == team) | (df.AwayTeam == team)]
    home_away_played = games_played_s2d(df, team)

    # = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
    # = = = = = = = =   Variable in favor of team    = = = = = = = =
    #example: goals scored as a home team; goals scored as away team; total goals scored
    
    home_var_s2d = df.loc[df['HomeTeam'] == team, extract_home_var].sum() #7
    away_var_s2d = df.loc[df['AwayTeam'] == team, extract_away_var].sum() #10
    total_var_s2d = home_var_s2d + away_var_s2d
    
    avg_home_var_s2d = home_var_s2d / home_away_played[0]
    avg_away_var_s2d = away_var_s2d / home_away_played[1]
    avg_var_s2d = total_var_s2d / home_away_played[2]
    
    var_made_stats = [home_var_s2d, away_var_s2d, total_var_s2d,
                    avg_home_var_s2d, avg_away_var_s2d, avg_var_s2d
                   ]
    
    # = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
    # = = = = = = = = = =   Variable AGAINST team  = = = = = = = = =
    #example: goals conceded as a home team; goals conceded as away team; total goals conceded
    
    home_var_conceded_s2d = df.loc[df['HomeTeam'] == team, extract_away_var].sum() #4
    away_var_conceded_s2d = df.loc[df['AwayTeam'] == team, extract_home_var].sum() #2
    total_conceded_s2d = home_var_conceded_s2d + away_var_conceded_s2d
    
    avg_home_var_conceded_s2d = home_var_conceded_s2d / home_away_played[0]
    avg_away_var_conceded_s2d = away_var_conceded_s2d / home_away_played[1]
    avg_conceded_s2d = total_conceded_s2d / home_away_played[2]
    
    var_against_stats = [home_var_conceded_s2d, away_var_conceded_s2d, total_conceded_s2d,
                      avg_home_var_conceded_s2d, avg_away_var_conceded_s2d, avg_conceded_s2d
                     ]
    
    return var_made_stats, var_against_stats

# 4. The two functions below are used to update each match dictionary from first step

In [16]:
def update_match_dict(match_dict, var_key, list_var_for, list_var_against, home=1):
    if home == 1:
        prefix = 'H_'
    else:
        prefix = 'A_'
    
    m_dict = match_dict.copy()
    
    m_dict.update({prefix +'home_'+ var_key + '_s2d': list_var_for[0],
                        prefix + 'away_'+var_key + '_s2d': list_var_for[1],
                        prefix + 'total_'+var_key + '_s2d': list_var_for[2], 
                        prefix + 'avg_home_'+var_key + '_s2d': list_var_for[3],
                        prefix + 'avg_away_'+var_key + '_s2d': list_var_for[4],
                        prefix + 'avg_'+var_key + '_s2d': list_var_for[5]
                       }
                      )
    
    m_dict.update({prefix + 'home_'+ var_key + '_against_s2d': list_var_against[0],
                        prefix + 'away_'+var_key + '_against_s2d': list_var_against[1],
                        prefix + 'total_'+var_key + '_against_s2d': list_var_against[2], 
                        prefix + 'avg_home_'+var_key + '_against_s2d': list_var_against[3],
                        prefix + 'avg_away_'+var_key + '_against_s2d': list_var_against[4],
                        prefix + 'avg_'+var_key + '_against_s2d': list_var_against[5]
                       }
                      )
    
    return m_dict

In [17]:
def update_team_dict_vals(df, vars_dict, match_dict):
    home_team = match_dict['home_team']
    away_team = match_dict['away_team']
    x = 1
    for key, value in vars_dict.items():
        extract_home_var = value[0]
        extract_away_var = value[1]
        var_for, var_against = team_var_stats(df, home_team, extract_home_var, extract_away_var)
        if x < 2:
            d2 = update_match_dict(match_dict, key, var_for, var_against, home=1)
        else:
            d2 = update_match_dict(d2, key, var_for, var_against, home=1)
        x += 1
    
    for key, value in vars_dict.items():
        extract_home_var = value[0]
        extract_away_var = value[1]
        var_for, var_against = team_var_stats(df, away_team, extract_home_var, extract_away_var)
        d2 = update_match_dict(d2, key, var_for, var_against, home=0)
    
    return d2

# 5. Update all match dicts with derived features

#### vars_dict: the features we want to extract from the original dataset as recalculated **season-to-date** insights

In [18]:
vars_dict = {'goals': ('FTHG', 'FTAG'), 'shots': ('HS', 'AS'), 'shots_on_target': ('HST', 'AST'),
             'corners': ('HC', 'AC'), 'points': ('FTHP', 'FTAP')}

In [19]:
test_dict = match_dicts[3489]
d4 = update_team_dict_vals(test_df, vars_dict, test_dict)
d4

{'date': '2009-10-03',
 'season': 10,
 'home_team': 'Man United',
 'away_team': 'Sunderland',
 'FTR': 'D',
 'H_home_goals_s2d': 7,
 'H_away_goals_s2d': 10,
 'H_total_goals_s2d': 17,
 'H_avg_home_goals_s2d': 2.3333333333333335,
 'H_avg_away_goals_s2d': 2.5,
 'H_avg_goals_s2d': 2.4285714285714284,
 'H_home_goals_against_s2d': 4,
 'H_away_goals_against_s2d': 2,
 'H_total_goals_against_s2d': 6,
 'H_avg_home_goals_against_s2d': 1.3333333333333333,
 'H_avg_away_goals_against_s2d': 0.5,
 'H_avg_goals_against_s2d': 0.8571428571428571,
 'H_home_shots_s2d': 57,
 'H_away_shots_s2d': 64,
 'H_total_shots_s2d': 121,
 'H_avg_home_shots_s2d': 19.0,
 'H_avg_away_shots_s2d': 16.0,
 'H_avg_shots_s2d': 17.285714285714285,
 'H_home_shots_against_s2d': 25,
 'H_away_shots_against_s2d': 37,
 'H_total_shots_against_s2d': 62,
 'H_avg_home_shots_against_s2d': 8.333333333333334,
 'H_avg_away_shots_against_s2d': 9.25,
 'H_avg_shots_against_s2d': 8.857142857142858,
 'H_home_shots_on_target_s2d': 32,
 'H_away_shots_on_target_s2d': 42,
 'H_total_shots_on_target_s2d': 74,
 'H_avg_home_shots_on_target_s2d': 10.666666666666666,
 'H_avg_away_shots_on_target_s2d': 10.5,
 'H_avg_shots_on_target_s2d': 10.571428571428571,
 'H_home_shots_on_target_against_s2d': 13,
 'H_away_shots_on_target_against_s2d': 17,
 'H_total_shots_on_target_against_s2d': 30,
 'H_avg_home_shots_on_target_against_s2d': 4.333333333333333,
 'H_avg_away_shots_on_target_against_s2d': 4.25,
 'H_avg_shots_on_target_against_s2d': 4.285714285714286,
 'H_home_corners_s2d': 30,
 'H_away_corners_s2d': 33,
 'H_total_corners_s2d': 63,
 'H_avg_home_corners_s2d': 10.0,
 'H_avg_away_corners_s2d': 8.25,
 'H_avg_corners_s2d': 9.0,
 'H_home_corners_against_s2d': 8,
 'H_away_corners_against_s2d': 9,
 'H_total_corners_against_s2d': 17,
 'H_avg_home_corners_against_s2d': 2.6666666666666665,
 'H_avg_away_corners_against_s2d': 2.25,
 'H_avg_corners_against_s2d': 2.4285714285714284,
 'H_home_points_s2d': 9,
 'H_away_points_s2d': 9,
 'H_total_points_s2d': 18,
 'H_avg_home_points_s2d': 3.0,
 'H_avg_away_points_s2d': 2.25,
 'H_avg_points_s2d': 2.5714285714285716,
 'H_home_points_against_s2d': 0,
 'H_away_points_against_s2d': 3,
 'H_total_points_against_s2d': 3,
 'H_avg_home_points_against_s2d': 0.0,
 'H_avg_away_points_against_s2d': 0.75,
 'H_avg_points_against_s2d': 0.42857142857142855,
 'A_home_goals_s2d': 12,
 'A_away_goals_s2d': 2,
 'A_total_goals_s2d': 14,
 'A_avg_home_goals_s2d': 3.0,
 'A_avg_away_goals_s2d': 0.6666666666666666,
 'A_avg_goals_s2d': 2.0,
 'A_home_goals_against_s2d': 7,
 'A_away_goals_against_s2d': 4,
 'A_total_goals_against_s2d': 11,
 'A_avg_home_goals_against_s2d': 1.75,
 'A_avg_away_goals_against_s2d': 1.3333333333333333,
 'A_avg_goals_against_s2d': 1.5714285714285714,
 'A_home_shots_s2d': 29,
 'A_away_shots_s2d': 37,
 'A_total_shots_s2d': 66,
 'A_avg_home_shots_s2d': 7.25,
 'A_avg_away_shots_s2d': 12.333333333333334,
 'A_avg_shots_s2d': 9.428571428571429,
 'A_home_shots_against_s2d': 59,
 'A_away_shots_against_s2d': 34,
 'A_total_shots_against_s2d': 93,
 'A_avg_home_shots_against_s2d': 14.75,
 'A_avg_away_shots_against_s2d': 11.333333333333334,
 'A_avg_shots_against_s2d': 13.285714285714286,
 'A_home_shots_on_target_s2d': 20,
 'A_away_shots_on_target_s2d': 24,
 'A_total_shots_on_target_s2d': 44,
 'A_avg_home_shots_on_target_s2d': 5.0,
 'A_avg_away_shots_on_target_s2d': 8.0,
 'A_avg_shots_on_target_s2d': 6.285714285714286,
 'A_home_shots_on_target_against_s2d': 30,
 'A_away_shots_on_target_against_s2d': 13,
 'A_total_shots_on_target_against_s2d': 43,
 'A_avg_home_shots_on_target_against_s2d': 7.5,
 'A_avg_away_shots_on_target_against_s2d': 4.333333333333333,
 'A_avg_shots_on_target_against_s2d': 6.142857142857143,
 'A_home_corners_s2d': 15,
 'A_away_corners_s2d': 21,
 'A_total_corners_s2d': 36,
 'A_avg_home_corners_s2d': 3.75,
 'A_avg_away_corners_s2d': 7.0,
 'A_avg_corners_s2d': 5.142857142857143,
 'A_home_corners_against_s2d': 40,
 'A_away_corners_against_s2d': 18,
 'A_total_corners_against_s2d': 58,
 'A_avg_home_corners_against_s2d': 10.0,
 'A_avg_away_corners_against_s2d': 6.0,
 'A_avg_corners_against_s2d': 8.285714285714286,
 'A_home_points_s2d': 9,
 'A_away_points_s2d': 3,
 'A_total_points_s2d': 12,
 'A_avg_home_points_s2d': 2.25,
 'A_avg_away_points_s2d': 1.0,
 'A_avg_points_s2d': 1.7142857142857142,
 'A_home_points_against_s2d': 3,
 'A_away_points_against_s2d': 6,
 'A_total_points_against_s2d': 9,
 'A_avg_home_points_against_s2d': 0.75,
 'A_avg_away_points_against_s2d': 2.0,
 'A_avg_points_against_s2d': 1.2857142857142858}

In [20]:
%%time


for i in range(len(match_dicts)):
    # Filter dataset: on season and all games played by either team leading up to this match
    df2 = filtered_df_up_to_match(df, match_dicts[i]) 
    
    # update dicts where we have enough data to derive meaningful feature values 
    if len(df2) < 8: 
        pass   # pass because it doesn't contain enough history
    else:
        # update the relevant dictionary
        match_dicts[i] = update_team_dict_vals(df2, vars_dict, match_dicts[i])

CPU times: user 59.3 s, sys: 323 ms, total: 59.7 s
Wall time: 59.8 s

# 6. Use updated dicts to create and save New DF with derived features

In [21]:
final_df = pd.DataFrame(match_dicts)
final_df.shape  # note 2009-2022 df had 4600 records

(8020, 125)

In [22]:
# Early-season games sometimes don't produce meaningful insights due to low amounts of data to go by
# It's common that the first 3-4 weeks of the season are dropped with the drop.na procedure.
# In these seasons that run August - May, we have very few records in august
# Conclusion: We can start making match predictions for FTR (full time-result) beginning in September.

# final_df.dropna(inplace=True)
print(final_df.shape)
final_df.sample(10)

(8020, 125)

,date,season,home_team,away_team,FTR,H_home_goals_s2d,H_away_goals_s2d,H_total_goals_s2d,H_avg_home_goals_s2d,H_avg_away_goals_s2d,...,A_total_points_s2d,A_avg_home_points_s2d,A_avg_away_points_s2d,A_avg_points_s2d,A_home_points_against_s2d,A_away_points_against_s2d,A_total_points_against_s2d,A_avg_home_points_against_s2d,A_avg_away_points_against_s2d,A_avg_points_against_s2d
3522,2009-10-31,10,Portsmouth,Wigan,H,3.0,2.0,5.0,0.600000,0.400000,...,13.0,1.400000,1.200000,1.300000,7.0,9.0,16.0,1.400000,1.800000,1.600000
2311,2006-09-09,7,Everton,Liverpool,H,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4558,2012-05-13,12,West Brom,Arsenal,A,19.0,24.0,43.0,1.055556,1.263158,...,67.0,2.105263,1.500000,1.810811,13.0,24.0,37.0,0.684211,1.333333,1.000000
6116,2016-09-10,17,Stoke,Tottenham,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6957,2018-11-11,19,Chelsea,Everton,D,15.0,12.0,27.0,2.500000,2.400000,...,18.0,2.166667,1.000000,1.636364,4.0,8.0,12.0,0.666667,1.600000,1.090909
3155,2008-11-09,9,Aston Villa,Middlesbrough,A,9.0,10.0,19.0,1.800000,1.666667,...,14.0,1.666667,0.800000,1.272727,7.0,10.0,17.0,1.166667,2.000000,1.545455
67,2000-09-23,1,Tottenham,Man City,D,7.0,1.0,8.0,2.333333,0.333333,...,7.0,1.333333,1.000000,1.166667,4.0,6.0,10.0,1.333333,2.000000,1.666667
70,2000-09-30,1,Charlton,Coventry,D,6.0,6.0,12.0,2.000000,1.500000,...,7.0,0.250000,2.000000,1.000000,10.0,3.0,13.0,2.500000,1.000000,1.857143
4853,2013-03-17,13,Sunderland,Norwich,D,16.0,16.0,32.0,1.142857,1.066667,...,33.0,1.600000,0.642857,1.137931,15.0,27.0,42.0,1.000000,1.928571,1.448276
6992,2018-12-08,19,Burnley,Brighton,H,8.0,6.0,14.0,1.142857,0.750000,...,21.0,2.000000,0.875000,1.400000,5.0,16.0,21.0,0.714286,2.000000,1.400000

In [21]:
final_df.to_csv('sl_derived_dataset_20230622.csv', index=False)

# with pd.ExcelWriter('INPUTS/derived_dataset_SL_TEST_v1.xlsx') as writer:  
#     final_df.to_excel(writer, sheet_name='all_seasons', index=False)